# Environment variables template
# To use, copy this file to .env and fill in the values

# Example of .env file:
HF_USERNAME=your_username
HF_TOKEN=your_token
WANDB_API_KEY=your_api_key
WANDB_PROJECT=your_project_name
WANDB_WATCH=false
OPENAI_API_KEY=your_api_key